<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="head">
    <img routerLink="/" src="../assets/images/logo.webp"
       alt>
    <!-- <h3 class="title" routerLink="/">{{title}}</h3> -->
    <nav>
      <a routerLink="/dashboard">nhân vật</a>
      <a routerLink="/heroes">đội</a>
      <a href="/star">Stars</a>
      <a href="">TCG</a>
      <a href="">Leaderboards</a>
      <a href="">Tools</a>
      <a href="">Tierlist</a>
      <a href="">Banners</a>
      <a href="">Wiki</a>
      <!-- <app-hero-search></app-hero-search> -->
    </nav>
    <nav class="user">
      <a href="/sign-up">sign up</a>
      <a href="/sign-in">sign in</a>
    </nav>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
    <footer>
      <ul>
        <li><a href="">Genshin Buidler</a></li>
      </ul>
    </footer>
  </div>

</body>
</html>