<h2>Nhân vật </h2>
<ul class="element">
  <li>
    <a href="">
      <img src="../../assets/images/element/nham.webp" alt="">
    </a>
    <a href="">
      <img src="../../assets/images/element/bang.webp" alt="">
    </a>
    <a href="">
      <img src="../../assets/images/element/hoa.webp" alt="">
    </a>
    <a href="">
      <img src="../../assets/images/element/loi.webp" alt="">
    </a>
    <a href="">
      <img src="../../assets/images/element/phong.webp" alt="">
    </a>
    <a href="">
      <img src="../../assets/images/element/thao.webp" alt="">
    </a>
    <a href="">
      <img src="../../assets/images/element/thuy.webp" alt="">
    </a>
  </li>
  <app-hero-search>
  </app-hero-search>
  
</ul>
<ul class="heroes" >
  <li class="" *ngFor="let hero of heroes, let i = index ">
    <img class="highimg" routerLink="/admin/{{hero.id}}/update" src={{hero.img}} alt="">
      <img class="lowimg" src={{url[i]}} alt="">
      <button (click)="onRemove(hero.id)">x</button>
  </li>
</ul>